@model TravelTripProject.Models.Classes.Blog
@{
    ViewBag.Title = "BlogEkle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Blog Ekleme Sayfası</h2>

@using (Html.BeginForm("BlogEkle", "Admin", FormMethod.Post))
{
    @Html.LabelFor(m => m.Baslik)
    @Html.TextBoxFor(m => m.Baslik, new { @class = "form-control" })
    <br />
    @Html.LabelFor(m => m.Tarih)
    @Html.TextBoxFor(m => m.Tarih, new { @class = "form-control" })
    <br />
    @Html.LabelFor(m => m.BlogImage)
    @Html.TextBoxFor(m => m.BlogImage, new { @class = "form-control" })
    <br />
    @Html.LabelFor(m => m.Aciklama)
    @Html.TextAreaFor(m => m.Aciklama, new { @class = "form-control" })
    <br />
    <button class="btn btn-primary">Kaydet</button>
}

