@model TravelTripProject.Models.Classes.Blog
@{
    ViewBag.Title = "BlogFormu";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Blog Güncelleme Sayfası</h2>
<br />

@using (Html.BeginForm("BlogGuncelle", "Admin", FormMethod.Post))
{
    @Html.LabelFor(m => m.Id)
    @Html.TextBoxFor(m => m.Id, new { @class = "form-control" ,@readonly="readonly"})
    <br />
    @Html.LabelFor(m => m.Baslik)
    @Html.TextBoxFor(m => m.Baslik, new { @class = "form-control" })
    <br />
    @Html.LabelFor(m => m.Tarih)
    @Html.TextBoxFor(m => m.Tarih, new { @class = "form-control" })
    <br />
    @Html.LabelFor(m => m.BlogImage)
    @Html.TextBoxFor(m => m.BlogImage, new { @class = "form-control" })
    <br />
    @Html.LabelFor(m => m.Aciklama)
    @Html.TextAreaFor(m => m.Aciklama, 15, 1, new { @class = "form-control" })
    <br />
    <button class="btn btn-primary">Kaydet</button>
}

