@model List<TravelTripProject.Models.Classes.Yorumlar>
@{
    ViewBag.Title = "Yorum Listesi";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Yorum Listesi</h2>
<br />
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Id</th>
            <th>Kullanıcı Adı</th>
            <th>Mail</th>
            <th>Yorum</th>
            <th>BlogId</th>
            <th>Sil</th>
            <th>Güncelle</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {

            <tr>
                <td>@item.Id</td>
                <td>@item.KullaniciAdi</td>
                <td>@item.Mail</td>
                <td>@item.Yorum</td>
                <td>@item.Blog.Baslik</td>
                <td><a href="@Url.Action("YorumSil","Admin",new { Id=item.Id})" class="btn btn-danger">Sil</a></td>
                <td><a href="@Url.Action("YorumFormu","Admin",new { Id=item.Id})" class="btn btn-primary">Güncelle</a></td>
            </tr>
        }


    </tbody>
</table>


